*,
::before,
::after {
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font: 16px/1.3 system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


button {
    cursor: pointer;
}

[disabled] {
    cursor: not-allowed;
    background: #ccc;
}

hr {
    margin: 10px 0;
}

table {
    border: 1px solid #666;
    border-collapse: collapse;
}

table td,
table th {
    border: 1px solid #666;
    padding: 5px;
}

select {
    text-transform: capitalize;
}

input[type="text"],
input[type="number"],
select {
    padding: 10px;
    height: 38px;
    border: 1px solid #666;
    border-radius: 5px;
    border-color: #fff;
    background: transparent;
}

.btn:disabled {
    background: #ddd;
}

.btn:hover {
    background: #bbb;
}

body {
    background-color:#cd0003;
}
.radius {
    border: 2px solid rgb(12, 11, 11);
}
.loader {
    position: absolute;
    display: none;
    transform: translateY(-20%);
}
